body{
    color:#333;
    text-align: center;
    font-family: "Inconsolata";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(58, 152, 168);
    box-shadow: 0px 5px 30px 0px rgb(0,0,0,0,75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.5cm;
}

#container
{
    width: 70%;
    padding: 5em;
    text-align: left;
    border: 10px solid #DDD;
    margin: 100 auto;
}

#container h1
{
    font-size: 20px;
}