body{
    color: #333;
    text-align: center;
    font-family: "Proxy 7";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(74, 183, 233);
    box-shadow: 0px 5px 30px 0px rgb(0,0,0,0,75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    font-size: 0.6cm;
}

#cabecera #logo
{
    width: 70px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.5cm;
}

#container
{
    width: 70%;
    padding: 5em;
    text-align: left;
    border: 10px solid #DDD;
    margin: 100 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 1em;	
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}
